<ion-view view-title="Taling to: {{user.name}}" cache-view="false" hide-tabs>
    <ion-content>
        <div class="row">
            <div class="col item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <img ng-src="{{user.face}}">
            </div>
            <div class="col col-75">
                <span>{{user.name}}</span>
                <br />
                <span>+389 78 233op40</span>
                <br />
                <span>mobile</span>
            </div>
        </div>
        <div class="row message">
            <p class="card padding">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="row">
            <div class="col col-80"></div>
            <div class="col">
                <span>01:30</span>
            </div>
        </div>
        <div class="card padding buttons">
            <div class="row">
                <div class="col">
                    <div class="bg-color-white like-button">
                        <i class="ion-ios-plus-empty color-gray"></i>
                        <span>Text reply</span>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-color-white like-button">
                        <i class="ion-ios-keypad color-gray"></i>
                        <span>Keypad</span>
                    </div>
                </div>
                <div class="col">
                    <div class="bg-color-white like-button">
                        <i class="ion-android-contacts color-gray"></i>
                        <span>Contacts</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="bg-color-red like-button">
                        <i class="ion-ios-telephone color-white"></i>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </ion-content>
</ion-view>